// Banner
#cs_banner {
    margin-top:30px;
    .single_post {
        position: relative;
        .hover_box {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 20px;
            background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.95) 100%);
            width:100%;
        }
        a.category_post {
            display: inline-block;
            text-decoration: none;
            color: $clr_white;
            font-size: 0.8em;
            font-weight: 700;
            text-transform: uppercase;
            padding: 4px 10px;
            background: $clr_main;
            border-radius: 2px;
            &:hover {
                opacity: 0.7;
            }
        }
        h3 {            
            line-height:1.2;
            margin:5px 0;
            a {
                font-weight:700;
                color:$clr_white;
            }
        }
        .post_tags {
            font-size:0.8em;
            font-style: italic;
            li {
                display: inline-block;
                margin-right: 7px;
                color: #ccc;
                i {
                    margin-right: 9px;
                }
                a {
                    display: inline-block;
                    text-decoration: none;
                    color: #ccc;
                    &:hover {}
                }
            }
        }
        &.smll_post {
            .category_post {
                padding:2px 8px;
                font-size:0.7em;
            }
            h3 {
                font-size:1.2em;
            }
        }
    }
    .owl-dots {
        margin-top:0;
        position: absolute;
        top:15px;
        right:15px;
        .owl-dot {
            span {
                width:8px;
                height:8px;
                background-color:transparent;
                border:1px solid $clr_white;
                border-radius:50%;
                margin:0px 5px;
            }
            &.active {
                span {
                    background-color:$clr_main;
                    border-color:$clr_main;
                }
            }
        }
    }
}
// Marquee
#cs_marquee {
    padding:20px 0;
    font-weight:700;
    .row {
        align-items: center;
    }
    .cs_marquees {
        display: flex;
        span {
            width: 100px;
            text-align: center;
            line-height: 40px;
            background-color:$clr_main;
            color:$clr_white;
        }
    }
    .str_origin {
        a {
            color:$clr_black;
            display: inline-block;
            margin:5px 15px 5px 0;
            &:hover {
                color:$clr_main;
            }
            img {
                width:50px;
                border-radius:3px;
                margin-right:5px;
            }
        }
    }
    .clock {
        display: flex;
        padding: 10px;
        background-color: $clr_black;
        color: $clr_white;
        justify-content: space-between;
        #Date {}
        ul {
            display: flex;
            li {
                &#point {
                    margin:0px 10px;
                }
            }
        }
    }
}
// Post
#cs_post {
    padding:60px 0px;
    .single-post {
        display: flex;
        flex-wrap: wrap;
        margin:30px 0px;
        border:1px solid lighten($clr_black, 80%);
        border-radius:5px;
        overflow: hidden;
        .post_img {
            flex:0 0 30%;
            max-width:30%;
            @media (max-width: $break_768) {
                flex:0 0 100%;
                max-width:100%;
            }
            a {
                img {}
            }
        }
        .post_details {
            flex:0 0 70%;
            max-width:70%;
            padding:30px;
            @media (max-width: $break_768) {
                flex:0 0 100%;
                max-width:100%;
            }
            .meta_links {
                font-size:0.8em;
                a {
                    color:lighten($clr_black, 60%);
                    padding-right:10px;
                    text-transform: uppercase;
                    &:hover {
                        text-decoration: underline;
                        color:$clr_main;
                    }
                }
            }
            .post_title {
                margin:5px 0;
                font-weight:700;
                a {
                    color:lighten($clr_black, 20%);         
                    &:hover {
                        color:$clr_main;
                    }
                }
            }
            .meta_date {
                font-size:0.8em;
                a {
                    color:lighten($clr_black, 60%);
                    &:hover {
                        text-decoration: underline;
                        color:$clr_main;
                    }
                }
            }
            p {
                margin:5px 0;
                a {
                    color:$clr_main;
                    text-decoration: underline;
                    &:hover {
                        text-decoration: underline;
                        color:$clr_main;
                    }
                }
            }
        }
    }
}
// Filter
.filter_cs {
    display: flex;
    justify-content:space-between;
    margin-bottom:30px;
    flex-wrap: wrap;
    span {
        font-size:1.2em;
        font-weight:bold;
        min-width:100px;
    }
    .form-control {}
    .show_cs {
        display: flex;
        align-items:center;
        span {}
        .form-control {}
    }
    .search_cs {
        display: flex;
        align-items:center;
        span {}
        .form-control {}
    }
}