// Font
$main_font              :   'helveticaneue';

// Color
$clr_no					:   transparent;
$clr_white				:   #ffffff;
$clr_black				:	#000000;
$clr_main				:	#ee4930;

// Media Queries
$break_1280				:   1280px;
$break_1240				:   1240px;
$break_1080				:   1080px;
$break_1024				:   1024px;
$break_991				:   991px;
$break_850				:   850px;
$break_768				:   768px;